.StockDisplay {
  padding: 24px 16px;

  &-cards, &-components {
    margin-bottom: 16px;
  }

  &-spinner {
    margin: 32px auto;
  }

  &-info {
    position: fixed;
    top: 64px;
    height: calc(100% - 64px);
    width: calc(60% - 32px);
  }

  mat-card {
    margin-bottom: 32px;
  }
}