.Contact {
  width: 100%;
  box-shadow: none;

  &-nameColumn {
    width: 150px;
  }

  &-link {
    color: #7ca6f2;
    text-decoration: none;

    &:hover {
      color: #8fb2f0;
    }
  }
}

.mat-list-item {
  height: auto !important;
}

.mat-row {
  height: auto !important;
}

.mat-cell {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
}